@import '_colors';

:host {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 1em 1em;
  margin: 10% auto;
}

.not-found__logo {
  display: block;
  width: 99px;
  height: 90px;
  margin: 0 auto;
}

.not-found__title {
  color: $color-grey-text;
  font-weight: 700;
  font-size: 1.5em;
}
