<div class="settings">
  <div class="settings__title">Sorting by:</div>
  <div [ngClass]="['settings__date', sortSet === 'sortDate' ? 'settings__sort_active' : '']" (click)="onSortDate()">
    <span class="settings__date-text">date</span>
    <span class="settings__date-sort-direction" [innerHTML]="viewSort.sortDate"></span>
  </div>
  <div [ngClass]="['settings__count', sortSet === 'sortCount' ? 'settings__sort_active' : '']" (click)="onSortCount()">
    <span class="settings__count-text">count of views</span>
    <span class="settings__count-sort-direction" [innerHTML]="viewSort.sortCount"></span>
  </div>
  <form class="settings__filter">
    <label for="input">by word or sentance</label>
    <input
      type="search"
      id="settings__input"
      class="settings__input"
      autocomplete="search"
      placeholder="filter... by words"
      (keydown.enter)="onFilter()"
      name="valueFilter"
      [(ngModel)]="valueFilter"
    />
  </form>
</div>
