@import "_colors";

small {
  color: $color-input-invalid;
}

.card-create {
  width: 435px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: $color-module-bgc;
  margin: 0 auto;
  padding: 2em 2.4em;
  border-radius: 10px;
}

.card-create__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.card-create__title {
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1.2;
  margin: 0.4em 0;
  padding: 0 0 0 0.5rem;
}

.card-create__input_wrapper {
  display: flex;
  flex-direction: column;
}

.card-create__text {
  align-self: flex-start;
  color: $color-grey-text;
  font-size: 0.8em;
  line-height: 1.2;
  padding: 0 0 0.15em 0.5rem;
}

.input__explainer-wrapper {
  min-height: 22px;
}

.card-create__input {
  height: 37px;
  background-color: $color-grey-input;
  box-shadow: 0 0 2vw 0.4vh rgba(255, 255, 230, 0.06);
  padding: 0.1em 0.5em;
  border-radius: 0.2em;
  
  &.ng-invalid.ng-touched {
    border: 0.15em solid $color-input-invalid;
  }
}

.card-create__button {
  align-self: flex-end;
  width: 124px;
  height: 30px;
  font-size: 0.7em;
  line-height: 1.2;
  color: $color-white;
  background: $color-blue;
  border-radius: 5px;
  border: 0;
}

@media (max-width: 1023.98px) {
  .card-create {
    width: 40vw;
    padding: 1.4em 1.2em;
  }
}

@media (max-width: 767.98px) {
  .card-create {
    width: 60vw;
  }
}
