@import '_colors';

%header-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

%header-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  @extend %header-col-sb;
  background-color: $color-grey;
}

.header__start-block,
.header__main,
.header__auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__start-block {
  padding: 1em 0;
}

.header__start-block,
.header__main {
  gap: 1.5vw;
}

.header__logo {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  &:hover {
    filter: drop-shadow(5px 5px 5px rgba(26, 110, 155, 0.45));
  }
}

.header__input-search {
  width: 396px;
  line-height: 1.2;
  padding: 0.3em 0.5em;
  border-radius: 0.2em;
  box-shadow: 0 0 2vw 0.4vh rgba(255, 255, 230, 0.06);
}

.header__search__submit {
  width: 80px;
  height: 24px;
  color: #fff;
  background-color: $color-blue;
  border-radius: 0px 4px 4px 0px;
}

.header__settings-button {
  width: 24px;
  height: 24px;
  background-color: $color-blue;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
  }
}

.header__auth {
  gap: 2vw;
  padding: 0 2em;
}

.header__auth__button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: none;
  border-radius: 4px;

  box-shadow: 0.1em 0.1em #999;
  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: 0.01em 0.01em #666;
    transform: translate(0.1em, 0.1em);
  }
}

.button-logout {
  color: $color-white;
  background-color: $color-blue;
  font-size: 1.2em;
  font-weight: bold;
  &:hover {
    background-color: $color-blue-active;
  }
}

.header__auth__div {
  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translate(0.05em, 0.05em);
  }
}

.header__auth__img {
  display: block;
  width: 24px;
  height: 24px;
  margin: auto 0;
  border-radius: 3px;
}
