<header class="header">
  <div class="header__start-block">
    <div class="header__main">
      <a (click)="goToAdminPage()">
        <img src="./assets/image/header/header__logo.svg" alt="App Logo" class="header__logo" />
      </a>
      <div class="header__search">
        <label for="header__input-search"></label>
        <input
          type="search"
          class="header__input-search"
          id="header__input-search"
          placeholder="search..."
          [formControl]="inputSearch"
          (click)="clickOnSearch()"
        />
      </div>

      <button
        title="settings"
        type="button"
        class="header__settings-button"
        *ngIf="headerService.isLoading$ | async"
        [ngStyle]="{
          'background-color': buttonSettingsColor,
          'background-image': 'url(./assets/image/header/header__settings.svg)'
        }"
        (click)="showSettings()"
      ></button>
    </div>
    <div class="header__auth">
      <button
        class="header__auth__button"
        [ngStyle]="{
          background: 'url(./assets/image/header/header__auth__img.svg)'
        }"
        (click)="goToLogin()"
      ></button>
      <span class="header__auth__name"> {{ authService.username$ | async }} </span>
    </div>
  </div>
</header>
