<div class="login">
  <h2 class="login__title">Login</h2>
  <div class="login__input_wrapper">
    <label for="login__input_login" class="login__text">login:</label>
    <input
      type="text"
      class="login__input_login"
      id="login__input_login"
      placeholder="you name..."
      autocomplete="off"
      name="valueNickname"
      [(ngModel)]="valueNickname"
    />
  </div>
  <div class="login__input_wrapper">
    <label for="login__input_password" class="login__text">password:</label>
    <input
      type="password"
      class="login__input_password"
      id="login__input_password"
      placeholder="*******"
      autocomplete="off"
      name="valuePassword"
      [(ngModel)]="valuePassword"
      minlength="2"
      pattern="[0-9a-fA-F]{2,8}"
      required
    />
  </div>

  <button class="login__button" (click)="onLogIn()">Login</button>
</div>
<!-- (keydown.enter)="onLoginOFF()" -->
