$color-white: #fff;
$color-grey: #e5e5e5;
$color-grey-dark: #929292;
$color-blue: #2f80ed;
$color-blue-button-inactive: #85b9ff;
$color-blue-active: #0f3464;
$color-grey-text: #828282;
$color-grey-input: #e0e0e0;
$color-sort-active: #8ff271;
$color-module-bgc: #f2f2f2;
